.client {
  margin-top: 50px;
  width: 100%;
}

.client_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}
.client_images img {
  cursor: pointer;
  background-size: cover;
  border: 2px solid #eedbdb;
  background-color: #f9f9f9;
  padding: 30px 10px;
  margin: 20px;
}
.client_images img:hover {
  border: 2px solid #f9f9f9;
  background-color: #eedbdb;
}