.features {
	margin-top: 50px;
	width: 100%;
	background-color: rgb(68, 7, 83);
}
.features_add {
	padding: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	margin: 0 auto;
}
.fearures_text {
	max-width: 650px;
	h2 {
		color: #f4e9e9;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
	}
}
p {
	color: #f4e9e9;
}
span {
	color: #f4e9e9;
}
.button_features {
	span {
		cursor: pointer;
		background-color: #1729B0;
		border-radius: 100px;
		padding: 20px;
	}
}